mixin portfolioPass(title,num)
    .portfolio-modal.modal.modal-fullscreen.fade(id=title+"Modal",data-name=title, tabindex='-1', aria-labelledby=id, aria-hidden='true')
        .modal-dialog.modal-xl
            .modal-content
                .modal-header.border-0
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body.text-center.pb-5
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                h2.portfolio-modal-title.text-secondary.text-uppercase.mb-3 #{title}
                                h3.text-center.mb-3
                                    i.fas.fa-lock.text-primary
                                // Password Section Form
                                .row.justify-content-center.mb-3
                                    .col-lg-8.col-xl-7
                                        form.password-form(id=title+"Form")
                                            // Password input
                                            .form-floating.mb-3
                                                input#pass.form-control(
                                                    type='password',
                                                    data-sb-validations='required'
                                                )
                                                label(for='pass') Password
                                                .invalid.text-danger(hidden)
                                                    | Password is required.

                                            // Submit success message
                                            //
                                            // This is what your users will see when the form
                                            // has successfully submitted
                                            #submitSuccessMessage.d-none
                                                .text-center.mb-3
                                                    .fw-bolder Form submission successful!
                                                    | To activate this form, sign up at
                                                    br
                                                    a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                                            // Submit error message
                                            //
                                            // This is what your users will see when there is
                                            // an error submitting the form
                                            #submitErrorMessage.d-none
                                                .text-center.text-danger.mb-3 Error sending message!

                                            // Submit Button
                                            button#submitButton.btn.btn-primary.btn-xl(type='button',onclick='checkAccess(this)') Check